<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
	<div class="portlet-header ui-widget-header"><%= title %><span class="ui-icon ui-icon-circle-arrow-s"></span></div>
	<div class="portlet-content">
		<ul class="side-menu">
			<%= menu_items %>
		</ul>
	</div>
</div>