<div class="inner-page-title">
	<h2>OpenFo Dashboard</h2>
	<span></span>
</div>
<div class="clear"></div>
<div class="content-box">
	<div class="two-column">
		<div class="column">
			<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="portlet-header ui-widget-header">Admintasia V2.0 Licenses<span class="ui-icon ui-icon-circle-arrow-s"></span></div>
				<div class="portlet-content">
					<p>
						<a href="http://www.admintasia.com"><b>Visit the presentation website</b></a> | <b>
						<a href="http://www.admintasia.com/live-demo"><b>View Live Demonstration</b></a></b>
						<br /><br />Prices start from <b>$20</b> for the <b>Standard License</b> and <b>$50</b> for the <b>Commercial License</b>. Both licenses come with <b>support access</b> and <b>lifetime updates</b>.
					</p>
				</div>
			</div>
		</div>
		<div class="column column-right">
			<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="portlet-header ui-widget-header">Affiliate Program<span class="ui-icon ui-icon-circle-arrow-s"></span></div>
				<div class="portlet-content">
					<p>
						Join our affiliates program and earn 50% of every sale.
						<br /><br /><b><a href="http://www.admintasia.com/affiliates/">Click here for more details about our affiliates program</a></b>.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="response-msg inf ui-corner-all">
		<span>Multiple Themes</span>
		There are more themes available. To switch to another theme, click on its link from the sidebar menu.
	</div>
</div>
