<tr>
  <th class="header1" scope="col" width="70">
    <div class="tableTitleHeading" style="width:65px;">#</div>
  </th>
  <th class="header1" scope="col" width="130">
    <div class="tableTitleHeading" style="width:125px;">CID Reg. Date</div>
  </th>
  <th class="header1" scope="col" width="135">
    <div class="tableTitleHeading" style="width:130px;">Customer CID</div>
  </th>
  <th class="header1" scope="col" width="140">
    <div class="tableTitleHeading" style="width:135px;">Customer Name</div>
  </th>
  <th class="header1" scope="col" width="110">
    <div class="tableTitleHeading" style="width:105px;">Temporary LAN</div>
  </th>
  <th class="header1" scope="col" width="105">
    <div class="tableTitleHeading" style="width:100px;">Permanent LAN</div>
  </th>
  <th class="header1" scope="col" width="100">
    <div class="tableTitleHeading" style="width:95px;">CID Rate Center</div>
  </th>
  <th class="header1" scope="col" width="50">
    <div class="tableTitleHeading" style="width:45px;">State</div>
  </th>
  <th class="header1" scope="col" width="50">
    <div class="tableTitleHeading" style="width:45px;">NPA</div>
  </th>
  <th class="header1" scope="col" width="120">
    <div class="tableTitleHeading" style="width:115px;">Age</div>
  </th>
  <th class="header1" scope="col" width="130">
    <div class="tableTitleHeading" style="width:125px;">New LAN Status</div>
  </th>
  <th class="header1" scope="col" width="60">
    <div class="tableTitleHeading" style="width:55px;">Action</div>
  </th>
</tr>
