<div class="inner-response">
	<%= page_title :title => "List of All Cards" %>
	<% table :width => "900px" do |t| %>
		<% t.th "#" %>
		<% t.th "S/N" %>
		<% t.th "PIN" %>
		<% t.th "Value" %>
		<% t.th "Balance" %>
		<% t.th "Used" %>
		<% t.th "Used Date" %>
		<% t.th "Activated" %>
		<% t.th "Activation Date" %>
	
		<% counter = (((@page - 1) * @limit)) %>
		<% for c in @cards %>
			<% t.td(counter += 1)  %>
			<% t.td link_to(c.formatted_serial, card_path(c), :class => "hash") %>
			<% t.td c.formatted_number %>
			<% t.td "$#{c.value}" %>
			<% t.td number_to_currency(c.balance) %>
			<% t.td yes_no(c.used) %>
			<% t.td(c.used_date || "N/A") %>
			<% t.td yes_no(c.activated) %>
			<% t.td(c.activation_date || "N/A") %>
		
			<% t.new_row %>
		
		<% end -%>
	<% end -%>
	<%= pager distribution_cards_path(@distribution) %>
	<div class="clearfix"></div>
</div>
<script src="/js/tablesorter.js" type="text/javascript"></script>
<script src="/js/accounts/index.js" type="text/javascript"></script>