development:
    host: 127.0.0.1
    adapter: mysql2
    database: openfo
    port: 3306
    username: root
    password:

vot_development:
    host: db
    adapter: mysql2
    database: billing_development
    port: 3306
    username: root
    password: sp110q

opensips_vot_development:
    host: db
    adapter: mysql2
    database: opensips_development
    port: 3306
    username: root
    password: sp110q

vot_production:
    host: 10.0.0.7
    adapter: mysql2
    database: votbill_prod
    port: 3306
    username: root
    password: sp110q

test:
      host: localhost
      adapter: mysql
      #socket: /var/lib/mysql/mysql.sock
      database: billing_test
      port: 3306
      username: root
      password: sp110q

production:
      host: db
      adapter: mysql2
      database: votbill_prod
      port: 3306
      username: root
      password: sp110q
      pool: 5
      
opensips_development:
      host: db1
      adapter: mysql
      #socket: /var/lib/mysql/mysql.sock
      database: openfo
      port: 3306
      username: root
      password: sp110q

opensips_mac_joon:
      host: 127.0.0.1
      adapter: mysql2
      database: opensips
      port: 3306
      username: root
      password:
      pool: 10

opensips_test:
      host: localhost
      adapter: mysql
      #socket: /var/lib/mysql/mysql.sock
      database: opensips
      port: 3306
      username: root
      password: sp110q

opensips_production:
      host: db
      adapter: mysql2
      database: votosips_prod
      port: 3306
      username: root
      password: sp110q
      pool: 5      
