<div class="content-box content-box-header ui-corner-all">
	<div class="ui-state-default ui-corner-top ui-box-header">
		<span class="ui-icon float-left ui-icon-signal"></span>
		<%= options[:title1] %>
	</div>
	<div class="content-box-wrapper">
		<h3><%= options[:title2] %></h3>
		<%= content %>
		<%= clear %>
	</div>
</div>