
Hi,<br></br>
<h3><p style="font-family:arial ;color:red ;font-size:18px">
       Some error occurred while generating receipt against invoice of Order No: <%= assigns[:parameter].trans_no%>
       and that's why the payment is not captured.
   </p></h3>

<br></br>
<h2>Please Check Order Activity and capture payment again.</h2>
<br></br>
Thank You,<br></br>
Administrator<br></br>
Diaspark Inc




