<%= stylesheet_link_tag "http://sip.openfo.com/extjs/resources/css/ext-all", :media => "all" %>
<%= javascript_include_tag 'http://sip.openfo.com/extjs3/adapter/ext/ext-base' %>
<%= javascript_include_tag 'http://sip.openfo.com/extjs3/ext-all' %>
<%= javascript_include_tag '/js/cdr_grid.js' %>
<div class="inner-page-title">
	<h2>Call Records</h2>
	<span>Detailed Call Records</span>
</div>
<div id="cdrs"></div>