<!DOCTYPE html>
<html>
<head>
  <title>RORSocialNetwork</title>
  <%= stylesheet_link_tag    "application","style" %>
  <%= javascript_include_tag "application","jquery-1.3.2.min","script","cufon-yui","arial","cuf_run" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
