<html>
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta content="text/html; charset=us-ascii" http-equiv="Content-Type" />

  <title><%= subject %></title>
  <meta name="author" content="openfo" />
  <style type="text/css">

		a:hover { text-decoration: none !important; }

		
		p {
		}

		.user{
		font-size: 12px; color: #000;
		}
		.section {

		}
		.foot_top{
		
		}
		td.c14 {text-align: center;}
	  div.c13 {}
	  td.c12 {border: 1px solid #EFEFEF;}
	  strong.c11 {text-decoration: underline}
	  span.c10 {text-decoration: underline}
	  span.c9 {color:}
	  span.c8 {color: #EE7600; text-decoration: underline}
	  td.c7 {padding: 10px 0px 0px 0px;}
	  strong.c6 {font-size: 12px; color: #000;}
	  p.c5 {line-height: 20px; padding: 0px 0px 7px 0px;}
	  strong.c4 {font-size: 14px; color: #000;}
	  span {color: #EE7600;}
	  td.c2 {padding: 0px 0px 0px 0px;}
	  td.c1 {padding: 16px 0px 0px 19px;}  

  </style>
</head>

<body style='font-size: 12px; line-height: 20px; padding: 0px 0px 7px;font-family: Arial, Helvetica, sans-serif; color: #333333;'>
  <table cellspacing="0" border="0" cellpadding="0" width="100%">
    <tr>
      <td style="text-align: left;">
        <div style="text-align: left;">
          <table cellspacing="0" border="0" cellpadding="0" align="center" width="700">
            <tr>
              <td style="font-size: 12px; background: #2D2D2D;
							font-family: Arial, Helvetica, sans-serif;
							padding: 0px 0px 0px 16px; color: #A1A1A1;" height="35">You are receiving this email because you are a
              registered member of OpenFo network.</td>
            </tr>

            <tr>
              <td class="center c12">
                <table cellspacing="0" border="0" cellpadding="0" width="100%">
                  <tr>
                    <td class="logo" style='padding: 16px 0px 0px 19px;'><img src=
                    "http://openfo.com/images/email/email_logo.jpg" border="0" height=
                    "66" alt="logo" width="183" /></td>
                  </tr>

                  <tr>
                    <td height="29">
                      <table cellspacing="0" border="0" cellpadding="0" width="100%">
                        <tr>
                          <td class="date_lft " style='padding: 0px 0px 0px 0px;' valign="top" width="477"><img src=
                          "http://openfo.com/images/email/date_lft.jpg" border="0"
                          height="29" alt="" width="477" /></td>

                          <td class="date_rht" valign="top">
                            <table cellspacing="0" border="0" cellpadding="0" width=
                            "100%">
                              <tr>
                                <td style="font-weight: bold; font-size: 12px; line-height: 23px;
																background-color: #E97D00; font-family: Georgia, Arial,
																Helvetica, sans-serif; color: #fff; font-style: italic;
																text-align: center;" height="23">
                                <%= Time.now.strftime("%B %d, %Y" ) %></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>

									<!-- content -->
									<%= content %>
									<!-- /content -->

                  <tr>
                    <td class="footer">
                      <table cellspacing="0" border="0" cellpadding="0" width="100%">
                        <tr>
                          <td style="font-size: 12px; background: #E2E2E2; padding: 0px 0px 0px 0px;font-family: Arial, Helvetica, sans-serif; color: #7C7C7C; text-align: center;" height="31">&copy; OpenFo,
                          Inc.<br />
                          2967 Michelson Dr. #G480, Irvine, CA 92612</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>