<p>
	<span class="underline bold">Q:<%= faq.question %></span> <%= link_to "Edit", edit_faq_path(faq), :class => "ajax", :update => "container" %> | <%= link_to "Delete", faq_path(faq), :class => "ajax-delete" %><br>
	<div style="width:800px;"><p class="justify">A:<%= faq.answer %></p></div>
</p>