<%= page_title :title => "Your AP Settings" %>

<% form_for @admin_user, :html => {:class => "forms"} do |f| %>
	<ul>
		<li>
			<label>Default Date Format</label>
			<%= f.select :default_date_format, AdminUser.select_options_for_date_format, :include_blank => true %>
		</li>
		<li id="custom_date" class="hidden">
			<label>Custom Date Format:</label>
			<span class='red'>Type in this box and see the result yourself. Example: %a %b, %d %Y %I:%M %p<br>This is how we format dates :-)</span><br><br><br>
			<%= f.text_field :custom_default_date_format, :value => @admin_user.default_date_format %>
			<span id="result" style="float:none!important;padding-left:10px;font-weight:bold;color:green"></span>
			<br>
<pre>
%a - The abbreviated weekday name (``Sun'')
%A - The  full  weekday  name (``Sunday'')
%b - The abbreviated month name (``Jan'')
%B - The  full  month  name (``January'')
%c - The preferred local date and time representation
%d - Day of the month (01..31)
%H - Hour of the day, 24-hour clock (00..23)
%I - Hour of the day, 12-hour clock (01..12)
%j - Day of the year (001..366)
%m - Month of the year (01..12)
%M - Minute of the hour (00..59)
%p - Meridian indicator (``AM''  or  ``PM'')
%S - Second of the minute (00..60)
%U - Week  number  of the current year,
        starting with the first Sunday as the first
        day of the first week (00..53)
%W - Week  number  of the current year,
        starting with the first Monday as the first
        day of the first week (00..53)
%w - Day of the week (Sunday is 0, 0..6)
%x - Preferred representation for the date alone, no time
%X - Preferred representation for the time alone, no date
%y - Year without a century (00..99)
%Y - Year with century
%Z - Time zone name
%% - Literal ``%'' character
</pre>
		</li>
		<%= submit_button("Save Changes") %>
	</ul>
<% end %>

<script type="text/javascript" charset="utf-8">
	$(function(){
		if($("#admin_user_default_date_format").val() == "" || $("#admin_user_default_date_format").val() == "custom") {
			$("#admin_user_default_date_format").val("custom");
			$("#custom_date").show();
		} else {
			$("#admin_user_custom_default_date_format").val("");
		}

		$("#admin_user_default_date_format").change(function(){
			if ($(this).val() == "custom" ) {
				$("#custom_date").fadeIn();
			} else {
				$("#custom_date").fadeOut();
				$("#admin_user_custom_default_date_format").val("");
			};
		});
		$("#admin_user_custom_default_date_format").keyup(function(e){
			var key = e.keyCode;
			var val = $("#admin_user_custom_default_date_format").val();
			console.log(e.keyCode);
			if (key != 13 && key != 16 && key) {
				$.get("/service/df", ("f=" + val), function(resp){
					$("#result").html(resp);
				});
			};
		});
	});
</script>