<html>
<head>
 
<script type="text/javascript" src="/ofc/js/swfobject.js"></script>
<script type="text/javascript">
swfobject.embedSWF(
  "/ofc/open-flash-chart.swf", "my_chart", "1000", "500",
  "9.0.0", "expressInstall.swf",
  {"data-file":"/charts/data.json"}
  );
</script>
 
</head>
<body>
 
<p>Baghali</p>
 
 
<div id="my_chart"></div>
</body>
</html>