<%= page_title :title => "Prefix Groups" %>


<div class="left"><%= select :country, :country, @countries, { :include_blank => true, :selected => "" } %></div>
<div class="left"><%= loading("Loading...", "prefix-groups") %></div>
<div class="clearfix"></div>
<br><br>
<div id="container"></div>
<script>
	$('#country_country').change(function(e){
		$("#loading-prefix-groups").fadeIn();
		$('#container').hide();
		url = "/rate_engine/prefix_groups/" + $(this).val()
		$.get(url,{},function(response){
			$('#container').html(response);
			$('#container').fadeIn();
			$("#loading-prefix-groups").fadeOut();
		});
	});
</script>
