<tr class="header_bg">
  <th class="th_billing" width="30px" scope="col">
    <div class="tableTitleHeading2" style="width:12px;">#</div>
  </th>

  <th class="th_billing" width="55" scope="col">
    <div class="tableTitleHeading2" style="width:45px;">Credits</div>
  </th>

  <th class="th_billing" width="55" scope="col">
    <div class="tableTitleHeading2" style="width:45px;">Old Bal</div>
  </th>

  <th class="th_billing" width="60" scope="col">
    <div class="tableTitleHeading2" style="width:55px;">New Bal</div>
  </th>

  <th class="th_billing" width="55" scope="col">
    <div class="tableTitleHeading2" style="width:45px;">Status</div>
  </th>

  <th class="th_billing" width="70" scope="col">
    <div class="tableTitleHeading2" style="width:60px;">New Debt</div>
  </th>

  <th class="th_billing" width="90" scope="col">
    <div class="tableTitleHeading2">Date</div>
  </th>

  <th class="th_billing" width="100" scope="col">
    <div class="tableTitleHeading2">Note</div>
  </th>

  <th class="th_billing" width="102" scope="col">
    <div class="tableTitleHeading2">Added By</div>
  </th>
  
  <th class="th_billing" width="150" scope="col">
    <div class="tableTitleHeading2">Category</div>
  </th>

</tr>