
Dear <%= assigns[:parameter].customer.name%>,<br></br>
Your Invoice# <%= assigns[:parameter].trans_no%> is generated for $<%= assigns[:parameter].net_amt%>
against Sales Order# <%= assigns[:parameter].ref_trans_no%><br/>
Your Invoice Acknowledgment is attached.<br/>


<h3> IF THERE ARE ANY DISCREPANCIES WE MUST BE NOTIFIED WITHIN 24 HOURS.</h3>
<br></br>
Thank you for your business  - we appreciate it very much.
<br></br>
Sincerely,<br/>
Tekweld<br/>
Tel: 631-694-5503<br/>
Fax: 631-694-5568<br/>
877-TEKWELD (835-9353)<br/>
www.tekweld.com<br></br>
*** PLEASE VISIT OUR NEW SITE WWW.TEKWELD.COM ***                                                              



