<tr>
  <th class="header1" scope="col" width="70">
    <div class="tableTitleHeading" style="width:65px;">#</div>
  </th>
  <th class="header1" scope="col" width="135">
    <div class="tableTitleHeading" style="width:130px;">Date</div>
  </th>
  <th class="header1" scope="col" width="150">
    <div class="tableTitleHeading" style="width:145px;">Customer Name</div>
  </th>
  <th class="header1" scope="col" width="90">
    <div class="tableTitleHeading" style="width:85px;">Cust Acct. #</div>
  </th>
  <th class="header1" scope="col" width="90">
    <div class="tableTitleHeading" style="width:85px;">Card Number</div>
  </th>
  <th class="header1" scope="col" width="150">
    <div class="tableTitleHeading" style="width:145px;">Name on Card</div>
  </th>
  <th class="header1" scope="col" width="150">
    <div class="tableTitleHeading" style="width:145px;">Added By</div>
  </th>
  <th class="header1" scope="col" width="130">
    <div class="tableTitleHeading" style="width:125px;">Age</div>
  </th>
  <th class="header1" scope="col" width="60">
    <div class="tableTitleHeading" style="width:55px;">Action</div>
  </th>
</tr>